/* Diffrent display layout styles */

@media screen {

}


@media screen and (min-width: 1720px) {
	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme,
	.promoBlocks{
		width: 1220px;
	}
	
	.with-banner .container_theme{
	}
	
	.with-sidebar.catalog_theme{
		width: 947px;
	}
	
	.catalog-item:last-child,
	.catalog-item:nth-child(7n+7) {
		margin-right: 0;
	}

}

@media screen and (min-width: 1480px) and (max-width: 1719px) {
	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme,
	.promoBlocks{
		width: 1220px;
	}

	.with-banner .container_theme{
	}
	
	.with-sidebar.catalog_theme{
		width: 947px;
	}
		
	.catalog-item:last-child,
	.catalog-item:nth-child(6n+6) {
		margin-right: 0;
	}

}

@media screen and (min-width: 1240px) and (max-width: 1479px) {
	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme,
	.promoBlocks{
		width: 1220px;
	}

	.with-banner .container_theme{
	}
	
	.with-sidebar.catalog_theme{
		width: 947px;
	}
		
	.catalog-item:last-child,
	.catalog-item:nth-child(6n+6) {
		margin-right: 0;
	}

}

@media screen and (max-width: 1239px) {

	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme,
	.promoBlocks{
		max-width: 1220px;
	}

	.menu-login-cart .user-menu__item{
		height: 45px;
		vertical-align: middle;
	}

	li.user-menu__item > a, li.user-menu__item > div > a {
		height: 45px;
		width: 56px;
	}
	
	li.user-menu__item > a:before, li.user-menu__item > div > a:before {
		margin-bottom: 12px;
	}
	

	.menu-login-cart .user-menu__item a{
		vertical-align: text-bottom;
	}	
	
	.menu-login__login{
		width:8px;
		height:11px;
		overflow: hidden;
	}
	
	a#cart_dropdown__trigger{
		width: 80px;
		height: 45px;
		overflow: hidden;
	}
	
	a#cart_dropdown__trigger sup{
		position: absolute;
		top: 12px;
		right: 13px;
	}

	.user-menu__bookmarks{
		overflow: hidden;		
		width: 9px;
		height: 12px;
		display: inline-block;
	}
	
	.user-menu__profile{
		overflow: hidden;		
		width: 8px;
		height: 11px;
		display: inline-block;
	}

	.user-menu__purchases{
		width: 17px;
		height: 11px;
		overflow: hidden;
		display: inline-block;	
	}

	#cart_dropdown__content {
		left: -175px;
	}	
		
   
}

@media screen and (min-width: 1300px) and (max-width: 1479px) {

/* Catalog */	
	.catalog-item:last-child,
	.catalog-item:nth-child(5n+5) {
		margin-right: 0;
	}

}

@media screen and (min-width: 760px) and (max-width: 1239px) {
	
	/* Main menu */	
	.btn-menu-click + label, .btn-menu-click:checked + label {
		padding: 25px 20px;
	}
	
	.btn-menu-click:checked + label:after {
		width: 146px;
	}
	
	.menu-main__list li {
		padding: 25px 20px;
	}

/* Filter */	
	
	.b-filter-body__btn {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}
	
/* Catalog */

	.menu-catalog .menu__item {
		display: inline-block;
		width: 160px;
	}
	
	.slidedown .submenu.active {
		position: absolute;
		z-index: 100;
		width: 160px;
		max-height: 220px;
		overflow-y: auto; 
		padding: 5px 0;		
	}
	
	.slidedown .submenu.active li{
		width: 99.5%;
		position: relative;
		cursor:pointer;	    
	}
	.menu-catalog .submenu__item a {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box; 
		padding: 10px 15px;
	}	

/* Product */

	.product-desc, .product-rec, .product-reviews  {
		width: 100%;
		float: none;
	}	

	.product-reviews__review{
		width: 100%;		
	}

}

@media screen and (min-width: 1000px) and (max-width: 1239px) {
	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme, .menu-catalog,
	.promoBlocks{
		width: 940px;
	}

	.with-sidebar.catalog_theme{
	}
	
/* Promo */

	.promo-item:first-child {
		width: 440px;
		height: 669px;
	}
	.promo-item:nth-child(2) {
		height: 289px;
		width: 440px;
	}
	
	.promo-item:nth-child(3) {
		height: 140px;
		width: 440px;
		margin-top: 120px;
		padding-bottom: 120px;
	}
	
	.promo-item:nth-child(2) .promo-item__title {
		bottom: 37px;
		right: 28px;
	}
	
	.promo-item:nth-child(3) .promo-item__title {
		bottom: 5px;
		right: 28px;
	}	
	
/* Filter */
	.b-filter-body {
		width: 100%;
		position: relative;
		padding: 20px;
	}
	
	.b-filter-body__reset {
		top: 17px;
		right: 29px;
	}		

/* Catalog */

	.catalog_theme {
		margin-left: -4px;
		margin-right: -4px;
	}
	.catalog-item:last-child,
	.catalog-item:nth-child(3n+4) {
		margin-right: 0;
	}
	
	.menu-catalog .menu__item {
		display: inline-block;
		width: 160px;
	}
	
	.slidedown .submenu.active {
		position: absolute;
		z-index: 100;
		width: 160px;
		max-height: 220px;
		overflow-y: auto; 
		padding: 5px 0;		
	}
	
	.slidedown .submenu.active li{
		width: 99.5%;
		position: relative;
		cursor:pointer;	    
	}
	.menu-catalog .submenu__item a {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box; 
		padding: 10px 15px;
	}	

	.catalog-title {
		width: 500px;
    }
    
	.catalog-item {
		margin: 0 79px 35px 0;    
	}
	
	
/* Product */

	.product-img {
		width: 100%;
		height: 540px;
		display: block;
		float: none;
		margin-right: 0;
		margin-bottom: 30px;
	}
	
	.product-img > a {
		width: 540px;
		height: 540px;
		display: inline-block;
	}	

	.product-img-mob {
		width: 140px;
		height: 540px;
		display: inline-block;
		margin-top: 0;
		overflow-y: auto;
		float:none;
		vertical-align: top;
		text-align: center;
	}

	.product-img-mob a{
		margin-bottom: 6px;
		margin-left: 0;
	}
	
	.product-img-mob a:last-child{
		margin-bottom: 0;
	}	

	.product-info{
		float: none;		
	}
	
	.product-sell {
		float: none;
		width: 70%;
	}
	
	.product-rec .catalog-item {
		margin: 0 75px 35px 0;
	}

	.product-rec .catalog-item:last-child,
	.product-rec .catalog-item:nth-child(2n+4) {
		    margin: 0 0 35px 0;
	}
	
/* Bookmarks */

	.bookmarks_theme .title_page_theme {
		width: 454px;
	}	

/* Cart */
	.cart-item__cat{
		width: 60%;
	}
	.cart-item__title{
		width: 60%;		
	}

/* Profile */
	.profile-menu__item {
		width: 220px;
	}
	
	.profile-menu__item a {
		width: 220px;
	}
	
	
/* Footer */	
	.footer_contact {
		width: 30%;
	}	
	
}

@media screen and (min-width: 760px) and (max-width: 999px) {
	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme, .menu-catalog,
	.promoBlocks{
		width: 700px;
	}

	.with-banner .container_theme{
	}
	
/* Header */
	.logo_theme {
		width: 443px;
	}	

	.logo_theme__info {
		margin: 43px 0 0 41px;
	}
	
	
/* Menu */

	.menu-click-dropdown {
		max-width: 700px;
	}	
	
	
/* Search */	

	.search_theme {
		height: 50px;
		width: 50px;
	}

	.btn-search-click + label, .btn-search-click:indeterminate + label {
		width: 48px;
		height: 48px;
		overflow: hidden;		
	}

	.btn-search-click + label:before, .btn-search-click:indeterminate + label:before {
		margin-bottom: 11px;
	}
		
	.search_click_slide {
		width: auto;
	}
	
	.search-click-slide-holder input {
		width: 257px;
	}
	
	
/* Promo */

	.promoBlocks {
		height: auto; 
	}
	.promo-item:first-child {
		width: 320px;
		height: 488px;
	}
	.promo-item:nth-child(2) {
		height: 210px;
		width: 320px;
	}
	
	.promo-item:nth-child(3) {
		height: 106px;
		width: 320px;
		margin-top: 90px;
	}
	
	.promo-item:nth-child(1) .promo-item__title {
		top: 52px;
		left: 55px;
	}
		
	.promo-item:nth-child(2) .promo-item__title {
		bottom: 14px;
		right: 24px;
	}
	
	.promo-item:nth-child(3) .promo-item__title {
		bottom: 5px;
		right: 24px;
	}	

/* Filter */

	.b-filter-body .select-gifts {
		width: 300px;
	}
	
	.b-filter-body .b-filter-body__select.select-gifts:nth-child(1),
	.b-filter-body .b-filter-body__select.select-gifts:nth-child(2){
		float: left;
	}	

	.b-filter-body .b-filter-body__select.select-gifts:nth-child(2){
		margin-right: 0;
	}
	
	.b-filter-body__slider.slider-gifts{
		clear: both;
	}
	
	.b-filter-body div.cs-select {
		width: 100%;
	}
	
	.b-filter-body div.cs-select > span {
		width: 100%;
    }
    
	.b-filter-body__slider {
		width: 95%;
		margin-top: 20px;
	}
	
	.b-filter-body__reset {
		top: 122px;
		right: 47px;
	}	    
		
	
/* Catalog */

	.catalog_theme{
		margin-left: -5px;
		margin-right: -5px;
    }
    
    .catalog-item {
		margin: 0 158px 35px 0;
    }
    
	.catalog-item:last-child,
	.catalog-item:nth-child(2n+3) {
		margin-right: 0;
	}
	
	.catalog-title {
		width: 350px;
		margin-top: 31px;
	}
	
	.b-filter-catalog{
		width: 220px;
		margin-left: 0;		
	}
	
	.b-filter-catalog .select-gifts {
		width: 220px;
	}
	
	.b-filter-catalog label {
		margin-bottom: 10px;
	}
	
	
/* Product */

	.product-img {
		float: none;
		margin: 0 auto 70px auto;
	}

	.product-info, .product-sell{
		width: 100%;
		float: none;		
	}
	
	.product-rec {
		margin-left: 0;
		margin-right: 0;
	}	
	
	.product-rec .catalog-item {
		margin: 0 148px 35px 0;
	}	

	.product-rec .catalog-item:last-child,
	.product-rec .catalog-item:nth-child(2n+3) {
		margin-right: 0;
	}

/* Bookmarks */

	.bookmarks_theme .title_page_theme {
		width: 350px;
		margin-top: 31px;
	}
	
	.bookmarks_theme .catalog-header {
		margin-left: 0;
		margin-right: 0;
	}	

/* Cart */

	.cart-item__cat, .cart-item__title{
		width: 45%;
	}
	
	.cart-item__img span {
		margin-left: 0;
	}
	
	.cart-item__price{
		width:120px;
	}
	
	.cart-item__nal{
		width:170px;
	}

/* Profile */
	.profile-menu__item {
		width: 163px;
	}

	.profile-menu__item a{
		width: 163px;
	}
	

/* Footer */	
	.footer_menu {
		max-width: 249px;
	}	
}

@media screen and (max-width: 759px) {

	.container_theme{
		position: relative;
	}


/* Header */

	.header_theme {
		height: 110px;
    }

	.logo_theme__info{
		display: none;
	}

	.logo_theme {
		width: 211px;
	}


/* Menu and search */
	.menu-main {
		float: none;
		margin-top: 0;
		text-align: left;
	}
	
	.btn-menu-click-mobile + label{
		display: block;
		position: absolute;
		top: 73px;
		right: 0;
	}	
	
	.btn-menu-click-mobile + label:before,
	.btn-menu-click-mobile:indeterminate + label:before{
		display: inline-block;
	}

	.btn-menu-click-mobile:checked + label:before {
		-webkit-transform-origin: none;
		-ms-transform-origin: none;
		transform-origin: none;
		-webkit-animation:none;
		-moz-animation: none;
		animation: none;
	}

	.main-menu_theme{
		display: none;
	}
	
	.btn-menu-click, .btn-menu-click + label{
		display: none;
	} 

	.btn-menu-click-mobile:checked + label{
		position: fixed;
		display: block;
		top: 50px;
		right: 30px;
		z-index: 210;		
	}	
	
	.btn-menu-click-mobile:checked + label + .main-menu_theme{
		position: fixed;
		display: block;
		/* Animation menu-click */
		-webkit-transform-origin: 50% 50%; 
		-ms-transform-origin:  50% 50%;
		 transform-origin:  50% 50%;      
		-webkit-animation:fade ease-in 0.3s; 
		-moz-animation:fade ease-in 0.3s;
		animation:fade ease-in 0.3s;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 200;
	}

	.btn-menu-click-mobile:checked + label + .main-menu_theme > .menu-click{
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
		z-index: 210;
		position: relative;
		top: 0;
		padding-top: 110px;
	}
	
	.btn-menu-click-mobile:checked + label + .main-menu_theme > .menu-click > .menu-click-dropdown{
		display: block;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		overflow-y: auto;
		position: relative;
		left: initial;
		border-radius: 0;
		padding: 0;
		top: initial;
	}	

	.menu-click-dropdown .section_theme{
		width: 100%;
	}

	.menu-click {
		float: none;
		position: relative;
		height: 100%;
		/*overflow: auto;*/
	}
	
	.menu-click-dropdown ul.menu-click-list{
		position: relative;
	}

	.menu-click-dropdown li.menu__item {
		float: none;
	}

	.menu-click-dropdown li.menu__item > a:not(:last-child),
	.menu-click-dropdown li.menu__item > span{
		margin-left: 10px;
		width: 100%;
		display: block;
		float: none;
		padding: 15px 36px;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;		
	}

	.menu-click-dropdown li.menu__item > a:after,
	.menu-click-dropdown li.menu__item > span:after{
		width:8px;
		height:5px;
		display: block;
		float: right;
		margin-right: 20px;
		content: "";
		margin-top: 8px;		
	}	
	
	.menu-click-dropdown li.menu__item:last-child > span{
		padding: 15px 36px;
	}
	
	.menu-click-dropdown ul.submenu{
		padding-bottom: 15px;
		padding-left: 0;
		padding-top: 0;
		position: relative;
		float: none;
		width: 100%;
		margin-left: 10px;
		display: none;
		-webkit-animation:fade ease-in 0.3s; 
		-moz-animation:fade ease-in 0.3s;
		animation:fade ease-in 0.3s;		
	}

	.menu-click-dropdown li.menu__item > a.active + ul.submenu,
	.menu-click-dropdown li.menu__item > a:active + ul.submenu,
	.menu-click-dropdown li.menu__item > span.active + ul.submenu,
	.menu-click-dropdown li.menu__item > span:active + ul.submenu,
	.menu-click-dropdown li.menu__item > a:focus + ul.submenu,
	.menu-click-dropdown li.menu__item > span:focus + ul.submenu	{
		display: block;
	}
	
	.menu-click-dropdown ul.submenu:before {
		display: none;
	}
	
	.menu-click-dropdown li.submenu__item {
		text-transform: none;
		display: block;
		margin-right:0;
	}

	.menu-click-dropdown ul.submenu a {
		padding: 15px 36px;
		display: block;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;		
	}

	.menu-main__list {
		float: none;
		z-index: 250;
		display: block;
		position: relative;
		width: 240px;
		margin-left: 20px;
	}

	.menu-main__list li {
		margin-right: 0;
		height: auto;
		display: block;
		padding: 15px 27px;
	}

	
	.menu-main__list a{
	}
	


	/* Search */
	
	.search_theme{
		display: block;
	}

	.search_theme{
		padding: 0;
		display: block;
		width: 100%;
		height: 42px;
		top: 70px;
		right:93px;
		z-index: 210;
		position: absolute;
		margin-top: 0;
	}

	.search_click_slide{
		position: relative;
		width: 100%;
	}

	.search_click_slide > input.btn-search-click + label{
		position: relative;
		width:19px;
		height:19px;
		display: block;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;
		 overflow: hidden;
		 padding: 0;
		 float: right;
	}
	
	.search_click_slide > input.btn-search-click + label + input + label{
		display: none;
	}	

	.btn_close-click + label:before, .btn_close-click:indeterminate + label:before {
		width: 12px;
		height: 12px;
		margin: 0;
		content: "";
		display: inline-block;
		vertical-align: top;
	}

	.search_click_slide > input.btn-search-click + label + input:checked + label{
		display: none;
	}	

	.search-click-slide-holder{
		width: 100%;
		padding-left: 0px;
		padding-right: 55px;
		position: absolute;
		top: -16px;
		right: -93px;
		text-align: left;			
	}

	.search-click-slide-holder input {
		width: 80%;
	}	

	.search-click-slide-holder:after {
		display:none;
	}
	
	.search-click-slide-holder button.btn_search {
		display: block;
		float: right;
		margin-top: 14px;
	}

	.search_click_slide > input.btn-search-click:checked  + label + input + label{
		display: block;
	}

	.search_click_slide > input.btn-search-click:checked  + label + input + label:before{
		width:12px;
		height:12px;
	}

/* User menu */

	.user-mail {
		display: block;
		position: absolute;
		top: 50px;
		left: 40px;
	}

	.btn-menu-login-click + label{
		display: block;
		margin-right: 50px;		
	}

	.btn-menu-login-click + label:before{
		width:16px;
		height:20px;
		display: block;
		content: "";		
	}

	.btn-menu-login-click + label + div{
		display: none;
	}

	.btn-menu-login-click:checked + label + div{
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		z-index: 200;
		overflow: auto;			
	}	

	.btn-menu-login-click:checked + label:before{
		display: block;
		position: fixed;
		top:50px;
		right:30px;
		z-index: 210;		
	}

	.menu-login-cart{
		margin: 110px auto 10px auto;
	}
	
	.menu-login-cart .user-menu__item{
		display: block;
		width: 100%;
		margin:0;
		padding: 0;	
		height: 52px;
	}	

	.menu-login-cart .user-menu__item > a,
	.menu-login-cart .user-menu__item > div > a#cart_dropdown__trigger{
		display: block;
		height: 52px;
		width: 100%;
		padding: 15px 40px 0 40px;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;
		 position: relative;
		 margin: 0;
	}
	
	.user-menu__item > a.menu-login__login:before {
		display: inline-block;
		margin-right: 12px;
		width:16px;
		height:20px;
		content: "";
		vertical-align: bottom;
	}
	
	.user-menu__item > a.menu-login__login{
		padding: 15px 40px 0 43px;
	}
	
	.user-menu__item > a.menu-login__login span:first-child{
		display: none;
	}
	
	.user-menu__item > a.menu-login__login span:last-child{
		display: inline;
	}	

	a#cart_dropdown__trigger:before {
		display: inline-block;
		margin-right: 10px;
		width:20px;
		height:19px;
		content: "";
		vertical-align: top;
	}
	a#cart_dropdown__trigger sup {
		position: absolute;
		top: 14px;
		left: 160px;
		right: inherit;
	}

	li.user-menu__item > a:before, li.user-menu__item > div > a:before {
		margin-bottom: 0;
	}
	
	.user-menu__item > a.user-menu__bookmarks:before {
		width:20px;
		height:18px;
		display: inline-block;
		margin-right: 10px;
		content: "";
		vertical-align: bottom;
	}

	.user-menu__profile:before {
		width: 8px;
		height: 11px;
	}
	
	.user-menu__purchases:before {
		width:22px;
		height:18px;
	}	
	
	#cart_dropdown__content{
		z-index: 300;
		left: 12%;
		top: 45px;
	}
	
	.b-cart-menu__goods {
		max-height: 200px;
    }	

/* Promo */

	.promoBlocks {
		height: auto;
		padding: 10px;
	}

	.promo-item{
		float: none;
	}


/* Filters */

	.btn-filter + label{
		display: block;
		width: 100%;
		padding-top: 18px;
		cursor: pointer;		
	}

	.btn-filter + label:before{
		width:20px;
		height:14px;
		display: inline-block;
		content:"";
		margin-right: 10px;
		vertical-align: top;
	}	

	.btn-filter:checked + label{
		display: block;
		position: fixed;
		top: 0;
		right: 4px;
		z-index: 201;
		width: 33px;
		height: 33px;
		overflow: hidden;
		border-radius: 0;
		padding-top: 8px;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box; 					
		}
	
	.btn-filter:checked + label:before{
		display: block;
		width: 33px;
		height: 33px;
		margin: 0;		
	}	

	.b-filter{
		padding-top: 60px;
		display: none;
	}

	.btn-filter:checked + label + .b-filter{
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		width: 100%;
		overflow: auto;
		height: 100%;		
	}

	.select-gifts {
		width: 100%;
		margin-bottom: 30px;		
	}

	div.cs-select {
		width: 100%;
	}

	div.cs-select > span {
		width: 100%;
    }

	.b-filter-body__slider {
		width: 97.5%;
		margin-left: 1px;		
    }

	.b-filter-body__slider label {
		margin-left: -1px;
	}
	.b-filter-body__btn {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}

	.b-filter-body__reset {
		bottom: 45px;
		right: 36px;
	}

	.b-filter-body__reset_mob{
		display: block;
		width: 100%;
		margin-top: 10px;
	}

/* Product */
	.product-info__info {
		width: 100%;
		height: auto;
		margin-top: 40px;
	}	

	.product-img-mob{
		display: block;
		overflow-x: auto;
		height: 66px;
	}

	.product-img-mob a{
		display: inline-block;
		margin-right: 12px;
	}	
	
	.product-img-mob img{
		width: 66px;
		height: 66px;
	}	

	.product-info__info .product-info__seller, .product-info__info .product-info__question-button{
		display: none;		
	}
/*
	.product-seller{
		display: block;
	}	

	.product-seller .product-info__seller {
		width: 270px;
		margin-right: 26px;
	}

	.product-seller .product-info__seller-name {
		display: block;
	}*/
	
	.product-desc, .product-rec, .product-reviews  {
		width: 100%;
	}	

	.product-desc__img{
		display: none;
	}

	.product-reviews__head-filter {
		margin-left: 0;
		margin-top: 20px;
		display: block;
	}	

/* Cart */
	.cart-head{
		display: none;
	}

	.cart-item {
		display:block;
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
	}	
	
	.cart-item div {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		padding: 0;
	}	

	.cart-item__img {
		width: 41px;
		height: 60px;
		margin: 0 20px 40px 0;
		display: block;
		float: left;
	}

	.cart-item__img span {
		margin-left: 0;
	}

	div.cart-item__added{
		display: none;
	}

	div.cart-item__title {
		width: 75%;
		vertical-align: top;
		margin-top: 10px;
		height: 26px;
		overflow: hidden;
	}

	.cart-item__price{
		width: 75%;
		margin-top: 10px;		
	}

	.cart-item__bookmarks{
		width: 75%;
		margin-top: 20px;
	}
	
	.cart-item__drop{
		position: absolute;
		top: 20px;
		right: 2px;
	}

	.cart-item .i-drop:before {
		width: 14px;
		height: 14px;
	}

	.cart-footer__price {
		margin-left: 0;
		margin-top: 10px;
	}

	.cart-footer__bay-button {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 300px;
		margin-top: 20px;
	}

/* Profile */

	.profile .breadcrumbs_theme{
		display: none;		
	}

	.profile-head_name > span:first-child{
		display: none;
	}

	.profile-head_name a {
		width: 30px;
		height: 30px;
		overflow: hidden;
		vertical-align: middle;
		margin-top: 0;
	}	
	
	.profile-head_name a:before {
		width:13px;
		height: 30px;
		content: "";
		display: inline-block;
		vertical-align: middle;		
	}
	
	.profile-menu__item {
		width: 24%;
		overflow: hidden;
	}

	.profile-menu__item a{
		width: 100%;
	}

	.profile-menu__item-purchases:before {
		width: 28px;
		height: 36px;
		display: block;
		margin: 6px auto 0 auto;
	}	
	
	.profile-menu__item-cart:before {
		width: 20px;
		height: 36px;
		display: block;
		margin: 6px auto 0 auto;
	}	
	
	.profile-menu__item-bookmarks:before {
		width: 15px;
		height: 36px;
		display: block;
		margin: 6px auto 0 auto;
	}	
	
	.profile-menu__item-info:before {
		width: 14px;
		height: 36px;
		display: block;
		margin: 6px auto 0 auto;
	}

	.profile-header {
		display: block;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.profile-info-edit__form button {
		width: 100%;
		display: block;
		margin-top: 10px;
	}

	.profile-info-password__form button {
		width: 100%;
		display: block;
		margin-top: 10px;
	}
	
/* Footer */

	.footer_sm {
		float: none;
		margin-bottom: 30px;
	}

	.footer_sm-list{
		display: inline-block;
		vertical-align: super;
		height: 40px;
	}
	
	.footer_sm-form{
		display: inline-block;
		margin-top: 0;
		margin-left: 30px;
		position: relative;
		vertical-align: middle;		
	}

	.footer_sm-form-click-mobile + label,
	.footer_sm-form-click-mobile:indeterminate + label{
		width:38px;
		height:38px;
		display: inline-block;
		overflow: hidden;
	}
	
	.footer_sm-form-click-mobile + label:before,
	.footer_sm-form-click-mobile:indeterminate + label:before{
		width:37px;
		height:37px;
		content: "";
		display: inline-block;
		vertical-align: top;
     -webkit-animation:fade ease 0.3s; 
    -moz-animation:fade ease 0.3s;
    animation:fade ease 0.3s; 
    cursor: pointer;	
	}

	.footer_sm-form-click-mobile + label + form{
		display: none;
		position: absolute;
		top: 0;
		right: 50px;
		margin-top: 0;
	}	
	
	.footer_sm-form-click-mobile:checked + label:before{

		/* Animation icon menu */
		-webkit-transform-origin: 50% 50%; 
		-ms-transform-origin:  50% 50%;
		 transform-origin:  50% 50%;     
		-webkit-animation:fade ease 0.35s; 
		-moz-animation:fade ease 0.35s;
		animation:fade ease 0.35s;
	}	

	.footer_sm-form-click-mobile:checked + label + form{
		display: block;
		/* Animation icon menu */
		-webkit-transform-origin: 50% 50%; 
		-ms-transform-origin:  50% 50%;
		 transform-origin:  50% 50%;     
		-webkit-animation:fade-width ease 0.35s; 
		-moz-animation:fade-width ease 0.35s;
		animation:fade-width ease 0.35s;
	}

	.footer_sm-form-holder {
		width: 240px;
	}	

	.footer_sm-form-holder input.btn_subscr__input {
		width: 186px;
	}
	
	.footer_contact, .footer_contact-list {
		width: 160px;
	}
	
	.footer_menu {
		margin-left: 40px;
		margin-bottom: 40px;
	}

	.footer_menu:after {
		content: "";
		clear: both;
	}
	
	.footer_pokupo{
		text-align: left!important;
	}
	
	.back-to-top{
		width: 100%;
		height: 40px;
		position: fixed;
		top: 60px;
		right: 0;
		padding-top: 13px;
		 -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 box-sizing: border-box;		
	}
	
	.back-to-top:after {
		width: 24px;
		height: 13px;
		content: "";
		display: block;
		right: 17%;
		position: absolute;
		top: 13px;
	}	
	
}


@media screen and (min-width: 520px) and (max-width: 759px) {
	.section_theme, .container_theme, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme, .menu-catalog,
	.promoBlocks, .footer_theme .container_theme > div{
		width: 480px;
	}

	.with-banner .container_theme, .footer_theme .container_theme{
	}	

/* Promo */
	.promo-item:first-child {
		margin-right: 0;
		text-align: center;
		width: 460px;
		height: 710px;
	}

	.promo-item:nth-child(2) {
		text-align: right;
		height: 313px;
		width: 460px;
	}
	
	.promo-item:nth-child(2) .promo-item__title {
		bottom: 30px;
		right: 30px;
	}
	
	.promo-item:nth-child(3) {
		text-align: right;
		height: 146px;
		width: 460px;
		margin-top: 0;
	}	

	.promo-item:nth-child(3) .promo-item__title {
		bottom: 20px;
		right: 30px;
	}




	
/* Catalog */	
	.catalog-item:last-child,
	.catalog-item:nth-child(2n+2) {
		margin-right: 0;
	}	

/* Product */
	.product-desc, .product-rec, .product-reviews  {
		width: 100%;
	}	

/* Footer */	
	.footer_theme .container_theme > div{
		margin: 0 auto;
	}

	.footer_sm {
		width: 460px;
	}

	.footer_menu {
		max-width: 260px;
	}
	
	.footer_menu-list {
		width: 130px;
	}
	
}


@media screen and (max-width: 519px) {
	.section_theme, .container_theme, .menu-login-cart, .catalog-slider__nav, .catalog-slider__cap, .breadcrumbs_theme, .menu-catalog,
	.promoBlocks, .footer_theme .container_theme > div, .filter_theme{
		width: 320px;
	}

	.with-banner .container_theme, .footer_theme .container_theme, .product_theme .container_theme, .profile .container_theme{
		width: 100%;
	}

	.logo_theme {
		width: 130px;
		height: 58px;
		margin: 25px 0;
	}

	.menu-login {
		margin-top: 51px;
	}

	
	/* Cart */
	#cart_dropdown__content{
		z-index: 300;
		left: 0;
		top: 45px;
	}

	#cart_dropdown__content:before {
		left: 55%;
	}

	.cart-menu__goods-item {
		width: 320px;
		height: 90px;
		padding: 10px;
		position: relative;
	}

	.order-item__name {
		width: 165px;
	}

	.cart-menu__cart-button {
		margin: 10px 5px 5px 5px;
		width: 130px;
	}

	.cart-menu__order-button {
		margin: 10px 5px 5px 5px;
		width: 130px;
	}

	/* Main menu */
	.btn-menu-click-mobile:checked + label + .main-menu_theme > .menu-click > .menu-click-dropdown{
		width: 360px;
	}	

	.btn-menu-click-mobile + label {
		top: 55px;
	}

	/* Search */
	.search_theme {
		top: 52px;
	}

	/* Breadcrumbs */
	
	.with-banner .breadcrumbs_theme {
		margin-top: 260px;
		display: none;
	}

	.menu-catalog{
		display: none;		
	}
	
	
/* Promo */

	.promoBlocks {
		margin-top: 245px;
	}

	.with-banner .promoBlocks {
		width: 320px;
		margin: 0 auto;
	}	

	.promo-item:first-child {
		margin-right: 0;
		text-align: center;
		width: 300px;
		height: 467px;
	}

	.promo-item:first-child .promo-item__title {
		top: 45px;
		left: 42px;
	}

	.promo-item:nth-child(2) {
		text-align: right;
		height: 208px;
		width: 300px;
	}

	.promo-item:nth-child(2) .promo-item__title {
		bottom: 27px;
		right: 19px;
	}

	.promo-item:nth-child(3) {
		text-align: right;
		height: 94px;
		width: 300px;
		margin-top: 0;
	}

	.promo-item:nth-child(3) .promo-item__title {
		bottom: 6px;
		right: 20px;
	}


/* Filter */

	.filter_theme {
		margin: 45px auto 0 auto;
	}
	

/* Catalog */
	.catalog-item {
		position: relative;
		display: block;
		width: 320px;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	.catalog-item__info {
		display: inline-block;
		width: 180px;
		margin-left: 16px;
	}	

/* Product */
	.product-info, .product-sell__sell, .product-sell__discont-head, .product-sell__discont-form, .product-seller, .product-desc, .product-rec, .product-reviews {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.product-img-mob {
		margin-left: 8px;
	}	

	.product-sell, .product-sell__discont{
		width: 100%;
	}

	.product_theme .product-sell__sell {
		padding: 21px 0;
	}

	.product-sell__bay-button {
		width: 300px;
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.product-sell__cart-button {
		width: 300px;
		display: block;
	}	
	
	.product-sell__discont-input {
		width: 219px;
	}

	.product-sell__discont-btn {
		width: 79px;
		padding-top: 0;
		text-indent: -9999px;
		overflow: hidden;
	}

	.product-sell__discont-btn:before {
		content: "";
		display: block;
		width: 22px;
		height: 421px;
		margin: 0 auto;
	}

	.product-seller .product-info__seller {
		width: 206px;
		margin-right: 10px;
	}	

	.product-info__question-button {
		width: 80px;
		padding-top: 0;
		overflow: hidden;
	}	

	.product-info__question-button:before {
		content: "";
		display: block;
		width:27px;
		height:42px;
		margin: 0 auto;
	}	

/* Cart */
	div.cart-item__title {
		width: 65%;
	}

	.cart-item__price{
		width: 65%;
	}

	.cart-item__bookmarks{
		width: 65%;
	}
	

/* Profile */
	.profile-head, .profile-info, .bookmarks-container, .profile-info-edit, .profile-info-password, .cart-container,
	.profile-header, .purchases-container{
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.profile-menu__list{
		width: 360px;
		margin-left: auto;
		margin-right: auto;		
	}


	
/* Footer */	

	.footer_theme .container_theme > div{
		margin: 0 auto;
	}

	.footer_sm {
		width: 300px;
	}

	.footer_menu {
		max-width: 100px;
	}
	
	.footer_menu > .footer_menu-list:last-child{
		display: none;
	}

	
}
